---
title: Contact
description: Vragen of huren? Neem contact op.
---

<section>
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 md:py-32 sm:px-6 lg:px-8 md:mb-32"
  >
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-16"
    >
      <div>
        <div class="max-w-lg md:max-w-none text-center md:text-left">
          <h2 class="text-2xl font-bold text-gray-900 sm:text-3xl">Contact</h2>

          <p class="mt-4 sm:text-lg/relaxed text-gray-500">
            Heb je vragen of wil je graag een arcadekast huren?<br />
            Neem dan gerust contact op via deze gegevens.
          </p>
        </div>
      </div>

      <div class="mt-12 md:mt-0">
        <div class="flex items-start gap-4 bg-gray-50 p-8 rounded-3xl shadow">
          <div class="button-text flex h-8 w-8 items-center text-sky-500">
            {% include icons/sms.svg %}
          </div>
          <div>
            <h3 class="text-gray-900 text-lg font-semibold">Contactgegevens</h3>
            <p
              class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-500"
            >
              <a href="mailto:info@overcade.be">info@overcade.be</a><br />
              +32 495 86 46 76
            </p>
          </div>
        </div>

        <div
          class="flex items-start gap-4 mt-8 bg-gray-50 p-8 rounded-3xl shadow"
        >
          <div class="button-text flex h-8 w-8 items-center text-sky-500">
            {% include icons/location.svg %}
          </div>
          <div>
            <h3 class="text-gray-900 text-lg font-semibold">Adres</h3>
            <p
              class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-500"
            >
              Staf Bruggenstraat 26/001<br />9040 Sint-Amandsberg (Gent)
            </p>
          </div>
        </div>

        <div
          class="flex items-start gap-4 mt-8 bg-gray-50 p-8 rounded-3xl shadow"
        >
          <div class="button-text flex h-8 w-8 items-center text-sky-500">
            {% include icons/apartment.svg %}
          </div>
          <div>
            <h3 class="text-gray-900 text-lg font-semibold">Onderneming</h3>
            <p
              class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-gray-500"
            >
              Ovelon BV<br />BE1015.576.340
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
