---
title: Games
description: Het volledige aanbod van arcades. 100% origineel, uniek in België.
---

<section>
    <div
            class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 text-center md:text-left"
    >
        <h2 class="text-2xl font-bold text-gray-900 sm:text-4xl">Aanbod</h2>

        <p class="mt-4 text-gray-500 sm:text-lg/relaxed">
            Het volledige aanbod van arcades. 100% origineel, uniek in België.
        </p>

        <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
            <!--@formatter:off-->
            {% assign sortedGames = site.games | sort: 'preview' %}
            {% for game in sortedGames %}
            <!--@formatter:on-->
            <li class="flex">{% include game-card.html.liquid %}</li>
            {% endfor %}
        </ul>
    </div>
</section>
