---
layout: default
title: Leaderboard
---

<section>
  <div class="mx-auto max-w-screen-xl px-4 pt-32 lg:flex lg:items-center">
    <div>
      <div class="max-w-xl text-center mx-auto">
        <h2 class="font-semibold text-indigo-700 sm:text-lg mb-2">
          Meer competitie
        </h2>
        <h2 class="text-3xl font-bold sm:text-5xl/tight">
          Online highscore bord
        </h2>

        <p class="mt-4 mb-24 sm:text-xl/relaxed text-gray-500">
          Een applicatie om scores in kan zenden en de onderlinge competitie aan
          te wakkeren.
        </p>
      </div>

      <div class="relative">
        <img
          src="/assets/images/agon-leaderboard.png"
          alt="Highscore website"
          class="rounded-2xl drop-shadow-2xl"
        />
      </div>
    </div>
  </div>
  <!--  <div-->
  <!--    class="absolute left-0 bottom-8 z-10 w-screen h-64 bg-gradient-to-b from-transparent to-white to-60%"-->
  <!--  ></div>-->
</section>

<section>
  <div class="max-w-screen-xl grid grid-cols-3 gap-6 mx-auto py-32">
    <div class="relative pl-9">
      <dt class="flex items-center font-semibold text-gray-900 mb-5">
        <div class="size-7 text-indigo-600 mr-3">
          {% include icons/trophy_filled.svg %}
        </div>
        Leaderboard
      </dt>
      <dd class="inline text-gray-600 leading-relaxed">
        Een overzicht van elke speler en hun hoogste score. Probeer de top te
        bereiken!
      </dd>
    </div>

    <div class="relative pl-9">
      <dt class="flex items-center font-semibold text-gray-900 mb-5">
        <div class="size-6 text-indigo-600 mr-3">
          {% include icons/info_filled.svg %}
        </div>
        Extra info
      </dt>
      <dd class="inline text-gray-600 leading-relaxed">
        Per kast is er een pagina met informatie over de arcade, hoe de kast bij
        Overcade terecht kwam en hoe te spelen.
      </dd>
    </div>

    <div class="relative pl-9">
      <dt class="flex items-center font-semibold text-gray-900 mb-5">
        <div class="size-6 text-indigo-600 mr-3">
          {% include icons/problem_filled.svg %}
        </div>
        Problemen melden
      </dt>
      <dd class="inline text-gray-600 leading-relaxed">
        Direct melden als er iets mis is, zodat de arcade snel hersteld kan
        worden.
      </dd>
    </div>
  </div>
</section>

<section>
  <div class="grid grid-cols-2 mt-16">
    <div>
      <img
        src="/assets/images/agon-game-page.png"
        alt="Pac-Man pagina op de scorebord website"
        class="rounded-r-2xl drop-shadow-2xl"
      />
    </div>
    <div class="flex items-center">
      <div class="max-w-xl mx-auto">
        <h2 class="font-semibold text-indigo-700 sm:text-lg mb-2">
          Duik dieper
        </h2>
        <h2 class="text-3xl font-bold sm:text-4xl/tight">
          Informatie over elke arcade
        </h2>

        <p class="mt-4 mb-8 sm:text-xl/relaxed text-gray-500">
          Leer meer over de arcade en wat deze speciaal maakt.
        </p>

        <div class="relative pl-9">
          <dt class="inline font-semibold text-gray-900">
            <div class="size-6 text-indigo-600 absolute left-0 top-1">
              {% include icons/history.svg %}
            </div>
            Geschiedenis.
          </dt>
          <dd class="inline text-gray-600 leading-relaxed">
            Wanneer werd de arcade uitgebracht en door welke fabrikant. Wat is
            er speciaal aan deze kast.
          </dd>
        </div>

        <div class="relative pl-9 mt-8">
          <dt class="inline font-semibold text-gray-900">
            <div class="size-6 text-indigo-600 absolute left-0 top-1">
              {% include icons/question_filled.svg %}
            </div>
            Hoe spelen.
          </dt>
          <dd class="inline text-gray-600 leading-relaxed">
            Tips & tricks om het spel te spelen en hopelijk de hoogste score te
            behalen.
          </dd>
        </div>

        <div class="relative pl-9 mt-8">
          <dt class="inline font-semibold text-gray-900">
            <div class="size-6 text-indigo-600 absolute left-0 top-1">
              {% include icons/truck_filled.svg %}
            </div>
            Hoe kwam deze bij Overcade terecht.
          </dt>
          <dd class="inline text-gray-600 leading-relaxed">
            Arcades hebben vaak een lang verleden achter de rug. Waar komt de
            kast vandaan en wat is eraan gedaan om deze speelbaar te maken.
          </dd>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-32">Fysiek scherm meegeleverd & Prijs</section>
