---
title: Scorebord
description: Online applicatie om scores in te zenden en de onderlinge competitie aan te wakkeren.
en:
  title: Scoreboard
  description: Online application to submit scores and fuel the competition between players.
---

<section>
  <div
    class="mx-auto max-w-screen-xl px-4 pt-16 md:pt-32 lg:flex lg:items-center"
  >
    <div class="w-full">
      <div class="max-w-xl text-center mx-auto">
        <span class="font-semibold text-sky-500 sm:text-xl mb-2">
          {{ site.data.t.leaderboard.hero.eyebrow }}
        </span>
        <h2 class="text-2xl font-bold sm:text-5xl/tight">{{ site.data.t.leaderboard.hero.title }}</h2>

        <p class="mt-4 mb-24 sm:text-xl/relaxed text-gray-500">
          {{ site.data.t.leaderboard.hero.lead }}
        </p>
      </div>

      <div
        class="relative rounded-2xl drop-shadow-xl md:drop-shadow-2xl overflow-hidden"
      >
        <!--@formatter:off-->
        {% responsive_image_block %}
        path: assets/images/agon-leaderboard.png
        alt: "{{ site.data.t.leaderboard.hero.image_alt }}"
        {% endresponsive_image_block %}
        <!--@formatter:on-->
      </div>
    </div>
  </div>
  <!--  <div-->
  <!--    class="absolute left-0 bottom-8 z-10 w-screen h-64 bg-gradient-to-b from-transparent to-white to-60%"-->
  <!--  ></div>-->
</section>

<section>
  <div
    class="max-w-screen-xl grid grid-cols-1 md:grid-cols-3 md:gap-6 mx-auto pt-16 pb-32 md:py-32"
  >
    <div class="relative px-8 md:pl-9">
      <dt
        class="flex items-center justify-center md:justify-start font-semibold text-gray-900 mb-3 md:mb-5"
      >
        <div class="size-7 text-sky-500 mr-3">
          {% include icons/trophy_filled.svg %}
        </div>
        <h3>{{ site.data.t.leaderboard.usps.leaderboard.title }}</h3>
      </dt>
      <dd class="text-gray-500 leading-relaxed text-center md:text-left">
        {{ site.data.t.leaderboard.usps.leaderboard.body }}
      </dd>
    </div>

    <div class="relative px-8 md:pl-9 mt-12 md:mt-0">
      <dt
        class="flex items-center justify-center md:justify-start font-semibold text-gray-900 mb-3 md:mb-5"
      >
        <div class="size-6 text-sky-500 mr-3">
          {% include icons/info_filled.svg %}
        </div>
        <h3>{{ site.data.t.leaderboard.usps.interaction.title }}</h3>
      </dt>
      <dd class="text-center md:text-left text-gray-500 leading-relaxed">
        {{ site.data.t.leaderboard.usps.interaction.body }}
      </dd>
    </div>

    <div class="relative px-8 md:pl-9 mt-12 md:mt-0">
      <dt
        class="flex items-center justify-center md:justify-start font-semibold text-gray-900 mb-3 md:mb-5"
      >
        <div class="size-6 text-sky-500 mr-3">
          {% include icons/sparkly_cogwheel_filled.svg %}
        </div>
        <h3>{{ site.data.t.leaderboard.usps.custom.title }}</h3>
      </dt>
      <dd class="text-center md:text-left text-gray-500 leading-relaxed">
        {{ site.data.t.leaderboard.usps.custom.body }}
      </dd>
    </div>
  </div>
</section>

<section>
  <div class="grid grid-cols-1 md:grid-cols-2 md:mt-16">
    <div class="mr-8 md:mr-0">
      <div
        class="rounded-r-2xl drop-shadow-xl md:drop-shadow-2xl overflow-hidden"
      >
        <!--@formatter:off-->
        {% responsive_image_block %}
        path: assets/images/agon-game-page.png
        alt: "{{ site.data.t.leaderboard.detail.image_alt }}"
        {% endresponsive_image_block %}
        <!--@formatter:on-->
      </div>
    </div>
    <div class="flex items-center mt-16 md:mt-0">
      <div class="max-w-xl mx-auto px-8">
        <div class="text-center">
          <span class="font-semibold text-sky-500 sm:text-xl mb-2">
            {{ site.data.t.leaderboard.detail.eyebrow }}
          </span>
          <h2 class="text-2xl font-bold sm:text-4xl/tight">
            {{ site.data.t.leaderboard.detail.title }}
          </h2>

          <p class="mt-4 mb-8 sm:text-xl/relaxed text-gray-500">
            {{ site.data.t.leaderboard.detail.lead }}
          </p>
        </div>

        <div class="relative pl-9 mt-24 md:mt-0">
          <dt class="inline font-semibold text-gray-900">
            <div class="size-6 text-sky-500 absolute left-0 top-1">
              {% include icons/history.svg %}
            </div>
            <h3 class="inline">{{ site.data.t.leaderboard.detail.history.title }}</h3>
          </dt>
          <dd class="inline text-gray-500 leading-relaxed">
            {{ site.data.t.leaderboard.detail.history.body }}
          </dd>
        </div>

        <div class="relative pl-9 mt-8">
          <dt class="inline font-semibold text-gray-900">
            <div class="size-6 text-sky-500 absolute left-0 top-1">
              {% include icons/question_filled.svg %}
            </div>
            <h3 class="inline">{{ site.data.t.leaderboard.detail.how_to_play.title }}</h3>
          </dt>
          <dd class="inline text-gray-500 leading-relaxed">
            {{ site.data.t.leaderboard.detail.how_to_play.body }}
          </dd>
        </div>

        <div class="relative pl-9 mt-8">
          <dt class="inline font-semibold text-gray-900">
            <div class="size-6 text-sky-500 absolute left-0 top-1">
              {% include icons/truck_filled.svg %}
            </div>
            <h3 class="inline">{{ site.data.t.leaderboard.detail.origin.title }}</h3>
          </dt>
          <dd class="inline text-gray-500 leading-relaxed">
            {{ site.data.t.leaderboard.detail.origin.body }}
          </dd>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-32 pb-20 md:py-48 mx-auto max-w-screen-xl">
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-8 content-center">
    <div
      class="order-2 md:order-1 flex items-center px-8 xl:px-0 mt-16 md:mt-0"
    >
      <div class="text-center md:text-left">
        <span class="font-semibold text-sky-500 sm:text-xl mb-2">
          {{ site.data.t.leaderboard.extras.eyebrow }}
        </span>
        <h2 class="text-3xl font-bold sm:text-4xl/tight">
          {{ site.data.t.leaderboard.extras.title }}
        </h2>

        <p class="mt-4 md:mb-8 sm:text-xl/relaxed text-gray-500">
          {{ site.data.t.leaderboard.extras.body }}
        </p>
      </div>
    </div>
    <div class="order-1 md:order-2">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-12">
        <div
          class="rounded-l-2xl md:rounded-2xl row-span-2 md:row-start-2 shadow-lg overflow-hidden"
        >
          <!--@formatter:off-->
          {% responsive_image_block %}
          path: assets/images/pac-man-and-screen.jpg
          alt: "{{ site.data.t.leaderboard.extras.image_alt_arcade_and_screen }}"
          {% endresponsive_image_block %}
          <!--@formatter:on-->
        </div>
        <div
          class="md:rounded-2xl row-span-2 shadow-lg hidden md:block overflow-hidden"
        >
          <!--@formatter:off-->
          {% responsive_image_block %}
          path: assets/images/screen.jpg
          alt: "{{ site.data.t.leaderboard.extras.image_alt_screen }}"
          {% endresponsive_image_block %}
          <!--@formatter:on-->
        </div>
        <div
          class="rounded-r-2xl md:rounded-2xl row-span-2 row-start-2 md:col-start-3 shadow-lg overflow-hidden"
        >
          <!--@formatter:off-->
          {% responsive_image_block %}
          path: assets/images/mini-arcade.jpg
          alt: "{{ site.data.t.leaderboard.extras.image_alt_trophy }}"
          {% endresponsive_image_block %}
          <!--@formatter:on-->
        </div>
        <div
          class="rounded-l-2xl md:rounded-2xl row-span-2 row-start-3 shadow-lg overflow-hidden"
        >
          <!--@formatter:off-->
          {% responsive_image_block %}
          path: assets/images/screen-sign.jpg
          alt: "{{ site.data.t.leaderboard.extras.image_alt_sign }}"
          {% endresponsive_image_block %}
          <!--@formatter:on-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-50">
  <div class="px-8 py-20 md:p-12 lg:px-16 lg:py-36">
    <div class="mx-auto max-w-4xl grid md:grid-cols-2 text-center md:text-left">
      <div>
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl col-span-2">
          {{ site.data.t.leaderboard.cta.title }}
        </h2>
        <p class="mt-4 mb-8 sm:text-xl/relaxed text-gray-500">
          {{ site.data.t.leaderboard.cta.body }}
        </p>
      </div>

      <div
        class="flex md:justify-end items-center mt-8 md:mt-0 mx-auto md:mx-0"
      >
        <div>
          <a
            class="inline-flex items-center gap-2 rounded border border-red-500 bg-red-500 px-8 py-3 text-white hover:bg-transparent hover:text-red-500 focus:outline-none focus:ring active:text-red-500"
            href="/contact.html"
          >
            <span class="text-sm font-medium"> {{ site.data.t.common.order }} </span>

            <svg
              class="size-5 rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
