<section class="bg-gray-50">
    <div class="px-8 py-16  md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center">
            <h2 class="text-3xl font-bold text-gray-900 md:text-4xl">
                <span class="text-sky-500">Ontspannen</span> is belangrijk
            </h2>
            <p class="text-gray-500 mt-8 sm:text-xl/relaxed">
                Een korte pauze kan wonderen doen voor de sfeer op kantoor,
                motivatie en stress.
            </p>
            <p class="text-gray-500 mt-8 sm:text-xl/relaxed">
                Thuis of in de mancave kan een avond plezier
                dan weer zorgen voor een onvergetelijke ervaring, alleen of met vrienden.
            </p>
        </div>
    </div>
</section>