<section class="overflow-hidden sm:grid sm:grid-cols-2 sm:items-center md:pt-12">
    <div class="px-8 py-16 md:p-12 lg:px-16 lg:py-36">
        <div class="mx-auto max-w-xl text-center sm:text-left">

            <h1 class="text-3xl font-extrabold sm:text-5xl">
                <strong class="block font-extrabold text-sky-500">Online scorebord</strong>
            </h1>
            <h2 class="text-2xl font-bold text-gray-900 md:text-3xl mt-2">
                Voor extra competitie
            </h2>

            <p class="text-gray-500 mt-6 sm:text-xl/relaxed">
                Bij onze arcadekasten krijg je een online scorebord.
                Zo kan iedereen de strijd aangaan met elkaar om de ultieme highscore te behalen.
                Optioneel met een fysiek scherm en trofee.
            </p>

            <div class="mt-8">
                <a
                        href="/leaderboard.html"
                        class="inline-block rounded bg-red-500 border border-red-500 px-12 py-3 text-sm font-medium text-white
                        transition hover:bg-transparent hover:text-red-500 focus:outline-none
                        focus:ring focus:ring-red-500"
                >
                    Meer info
                </a>
            </div>
        </div>
    </div>

    <div
            class="sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px] overflow-hidden"
    >
        {% responsive_image path: assets/images/pac-man-and-screen-hor.jpg alt: "Pac-Man arcade met scherm ernaast waar de high scores op staan" class: "h-full w-full object-cover" %}
    </div>
</section>