<section class="bg-gray-50">
    <div class="px-8 py-16  md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center">
            <h2 class="text-3xl font-bold text-gray-900 md:text-4xl">
                De <span class="text-sky-500">perfecte pauze</span> voor een fantastische werksfeer
            </h2>

            <p class="text-gray-500 mt-8 sm:text-xl/relaxed">
                Ontspannen is belangrijk. Een plezierige pauze kan wonderen doen voor de sfeer op kantoor,
                motivatie en stress.
            </p>
        </div>
    </div>
</section>