<section
        class="relative bg-cover bg-center bg-no-repeat
        bg-[url(/assets/resized/pac-man-in-office-480x320.JPG)]
        sm:bg-[url(/assets/resized/pac-man-in-office-800x533.JPG)]
        md:bg-[url(/assets/resized/pac-man-in-office-1000x667.JPG)]
        lg:bg-[url(/assets/resized/pac-man-in-office-1200x800.JPG)]
        xl:bg-[url(/assets/resized/pac-man-in-office-1500x1000.JPG)]
        2xl:bg-[url(/assets/resized/pac-man-in-office-2000x1333.JPG)]
"
>
    <div
            class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 sm:bg-gradient-to-r"
    ></div>

    <div
            class="relative mx-auto max-w-screen-xl px-8 py-32 lg:flex h-[85vh] lg:h-[90vh] lg:items-center"
    >
        <div class="max-w-xl text-center sm:text-left">
            <h2 class="text-3xl font-extrabold text-white sm:text-5xl">
                Uniek & authentiek

                <strong class="block font-extrabold text-sky-500">Arcade Verhuur</strong>
            </h2>

            <p class="mt-6 max-w-lg text-white sm:text-xl/relaxed">
                Originele arcadekasten uit het gouden tijdperk voor op kantoor.
            </p>

            <div class="mt-8 flex flex-wrap gap-4 text-center justify-center md:justify-start">
                <a
                        class="inline-flex items-center gap-2 rounded border border-red-500 bg-red-500 px-8 py-3
                        text-white hover:bg-transparent hover:text-red-500 focus:outline-none focus:ring active:text-red-500"
                        href="/games.html"
                >
                    <span class="text-sm font-medium"> Ontdek alle arcades </span>

                    <svg
                            class="size-5 rtl:rotate-180"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3"
                        />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>