<section>
    <div class="px-8 py-16 md:p-12 lg:px-16 lg:py-36 bg-gray-50">
        <div class="mx-auto max-w-4xl grid grid-cols-1 md:grid-cols-3">
            <div class="col-span-2 text-center md:text-left">
                <h2 class="text-3xl font-bold text-gray-900 md:text-4xl col-span-2">
                    Overtuigd om te huren?
                </h2>
                <p class="mt-4 mb-8 sm:text-xl/relaxed text-gray-500">
                    Contacteer ons nu om te bestellen.
                </p>
            </div>

            <div class="flex justify-center md:justify-end items-center mt-8 md:mt-0">
                <div>
                    <a
                            class="inline-flex items-center gap-2 rounded border border-sky-500 bg-sky-500 px-8 py-3 text-white hover:bg-transparent hover:text-sky-500 focus:outline-none focus:ring active:text-sky-500"
                            href="/contact.html"
                    >
                        <span class="text-sm font-medium"> Contacteer ons </span>

                        <svg
                                class="size-5 rtl:rotate-180"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>