<div class="bg-white">

    <section id="features"
             class="relative block px-8 py-12 md:py-20 md:px-10 bg-gray-50">

        <div class="relative mx-auto max-w-5xl text-center">
            <h2 class="text-sky-500 my-3 flex items-center justify-center font-semibold md:text-xl/relaxed tracking-wider">
                Waarom Overcade
            </h2>
            <span class="block w-full text-gray-900 font-bold text-3xl sm:text-4xl">
                Kies voor zekerheid
            </span>
            <p class="mx-auto my-4 w-full max-w-xl bg-transparent text-center
                        sm:text-xl/relaxed leading-relaxed tracking-wide text-gray-500">
                Een vaste prijs per maand, alles inbegrepen.
                Geen verrassingen achteraf.
            </p>
        </div>


        <div class="relative mx-auto max-w-7xl z-10 grid grid-cols-1 gap-10 pt-10 md:pt-14 sm:grid-cols-2 lg:grid-cols-4">
            {% include feature-card.html.liquid
                    icon="icons/joystick.svg"
                    title="Unieke nostalgische ontspanning"
                    content="Minder stress, meer plezier door een unieke arcade-ervaring." %}

            {% include feature-card.html.liquid
                    icon="icons/construction.svg"
                    title="Gratis onderhoud & levering"
                    content="Herstellingen, onderhoud en levering zitten in de prijs.
                            Geen zorgen dat iets kapot gaat en geen extra kosten achteraf." %}

            {% include feature-card.html.liquid
                    icon="icons/event-available.svg"
                    title="Afwisseling"
                    content="Elke periode een nieuwe arcade, thuis of op kantoor. Zo blijft er altijd iets nieuws te ontdekken." %}

            {% include feature-card.html.liquid
                    icon="icons/verified.svg"
                    title="Authentieke arcades"
                    content="Enkel echte, originele arcadekasten uit de jaren 80 en later.
                            Een uniek écht museumstuk, geen goedkope Chinese namaak." %}
        </div>

        <div class="absolute bottom-0 left-0 z-0 h-1/3 w-full border-b"
             style="background-image: linear-gradient(to right top, rgba(14, 165, 233, 0.2) 0%, transparent 50%, transparent 100%); border-color: rgba(14, 165, 233, 0.2);">
        </div>
        <div class="absolute bottom-0 right-0 z-0 h-1/3 w-full"
             style="background-image: linear-gradient(to left top, rgba(239, 68, 68, 0.2) 0%, transparent 50%, transparent 100%); border-color: rgba(239, 68, 68, 0.2);">
        </div>

    </section>
</div>