<section class="bg-gray-50">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center">
            <h2 class="text-3xl font-bold text-gray-900 md:text-4xl">
                Unieke eyecatcher op kantoor voor een fantastische werksfeer
            </h2>

            <p class="hidden text-gray-500 sm:mt-4 sm:block">
                Vaak wordt er op kantoor hard gewerkt. Maar soms is het ook goed om even te ontspannen. Met een
                arcadekast op kantoor kan dat.
            </p>
        </div>
    </div>
</section>