<div class="divide-y divide-gray-200 rounded-2xl border border-gray-200 shadow-sm overflow-hidden">

{% if game.preview != true %}
    <a href="{{ game.url }}" class="relative group flex flex-col max-h-[90vh]">
        {% else %}
        <div class="relative group flex flex-col h-full">
            {% endif %}
            {% if game.featured %}
                <span
                        class="absolute -right-px -top-px rounded-bl-3xl bg-red-500 px-6 py-4 font-medium uppercase tracking-widest text-white z-10"
                >
        Populair
        </span>
            {% endif %}
            {% if game.preview %}
                <span
                        class="absolute -right-px -top-px rounded-bl-3xl bg-indigo-500 px-6 py-4 font-medium uppercase tracking-widest text-white z-10"
                >
        Binnenkort
        </span>
            {% endif %}
            <!--@formatter:off-->
            {% responsive_image_block %}
            path: {{ game.image }}
            class: "flex-grow min-w-0 min-h-0 w-full h-auto rounded-tr-3xl object-contain transition duration-500 group-hover:scale-105 -z-10 px-5 md:p-5 {% if game.preview %}opacity-50{% endif %}"
            {% endresponsive_image_block %}
            <!--@formatter:on-->

            <div class="p-4 text-center">
                <strong class="text-xl font-medium text-gray-900">{{ game.name }}</strong>

                <div class="mt-2 text-pretty text-gray-500">
                    {{ game.tagline | markdownify }}
                </div>

                <span
                        class="{% if game.preview == true %}invisible{% endif %} mt-4 block rounded-md border border-sky-500 bg-sky-500 px-5 py-3 text-sm font-medium uppercase tracking-widest text-white transition-colors hover:bg-white hover:text-sky-500"
                >
              Meer info
            </span>
            </div>
            {% if game.preview != true %}
    </a>
    {% else %}
</div>
{% endif %}
</div>