.landing-page-background-image {
  height: 80vh;
  background-image: url("/assets/images/pac-man-in-office.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.game-content p {
  margin-bottom: 1.2em;
}

.current-link {
  color: green;
}

.grid-background {
  background-image: linear-gradient(to right, rgb(232, 232, 232) 1px, transparent 1px),
  linear-gradient(to bottom, rgb(232, 232, 232) 1px, transparent 1px);
  background-size: 150px 150px;
  mask-image: radial-gradient(100% 100% at 100% 40%, white, transparent);
}