#menu {
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  // 768ox is the md breakpoint in tailwindcss
  @media (max-width: 768px) {
    &.mobile-menu-open {
      position: absolute;
      left: 0;
      top: 64px;
      z-index: 40;
      width: 100%;
      background-color: white;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

      ul {
        flex-direction: column;
      }
    }
  }
}

