<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | Overcade</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    {% seo %}
  </head>
  <body>
    {% include navigation.html.liquid %}
    <!-- margin of 64px, the height of the mobile fixed navbar -->
    <main class="pt-16 md:pt-0">
      <!--    <h1>Overcade</h1>-->
      {{ content }}
    </main>
    {% include footer.html.liquid %}
  </body>
</html>
